<br>
<br>
<h1>Usuarios</h1>
<div class="row">
  <div class="col-sm-3">
    <h5>Sara Lopez</h5>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario1" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button (click)="clickVisitar()" class="btn btn-success">Visitar</button>
  </div>
  <div class="col-sm-3">
    <h5>Tatiana García</h5>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario2" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button (click)="clickVisitar()" class="btn btn-success">Visitar</button>
  </div>
  <div class="col-sm-3">
    <h5>José Sanchez</h5>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario3" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button (click)="clickVisitar()" class="btn btn-success">Visitar</button>
  </div>
  <div class="col-sm-3">
    <h5>Galo Perez</h5>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="usuario4" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button (click)="clickVisitar()" class="btn btn-success">Visitar</button>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-warning">Anteriores (4)</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <button class="btn btn-warning">Siguientes (4)</button>
  </div>
</div>

<br>
<br>
<h1>Modelos Papá</h1>
<div class="row">
  <div class="col-sm-6">
    <br>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="modelop1" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
  </div>
  <div class="col-sm-6">
    <br>
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="modelop2" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-warning">Anteriores (2)</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <button class="btn btn-warning">Siguientes (2)</button>
  </div>
</div>
<br>
<br>
<h1>Modelos Hijo</h1>
<br>
<div class="row">
  <div class="col-sm-3">
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="modelohijo1" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-success" routerLink="/transferencia">Pedir Transferencia</button>
  </div>
  <div class="col-sm-3">
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="modelohijo2" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-success" routerLink="/transferencia">Pedir Transferencia</button>
  </div>
  <div class="col-sm-3">
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="modelohijo3" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-success" routerLink="/transferencia">Pedir Transferencia</button>
  </div>
  <div class="col-sm-3">
    <img src="https://image.flaticon.com/icons/png/512/16/16363.png" alt="modelohijo4" width="100" height="100"
         class="imagen-perfil">
    <br>
    <br>
    <button class="btn btn-success" routerLink="/transferencia">Pedir Transferencia</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-2">
    <button class="btn btn-warning">Anteriores (4)</button>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <button class="btn btn-warning">Siguientes (4)</button>
  </div>
</div>
<br>

